<h1>Все телефоны</h1>
<h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var phone in Model.allPhones)
        {<div class="col-lg-4">
                <img class="img-thumbnail" src="@phone.img" alt="@phone.name" />
                <h2> @phone.name</h2>
                <p>@phone.shortDesc</p>
                <p>Цена: @phone.price.ToString("c")</p>
                <p><a class="btn btn-warning" href="#"> Подробнее</a></p>
            </div>
        }
    }
</div>
